@args org.elasticsearch.action.admin.cluster.health.ClusterHealthResponse clusterHealth, org.elasticsearch.action.admin.cluster.stats.ClusterStatsResponse clusterStats
@extends(view.wondergem.template.html, title: ("Cluster/Node/Index State"))

@section(head) {
    <style>
        .GRAY {
            color: #555555;
        }
        .GREEN {
            color: #168d12;
        }
        .RED {
            color: #9f3d33;
        }
        .YELLOW {
            color: rgb(209, 170, 0);
        }
    </style>
}

@section(breadcrumbs) {
    <li><a href="@prefix/system/index">Cluster State</a></li>
}

@{ String clusterStateTmp = "";
   try { clusterStateTmp = org.elasticsearch.cluster.health.ClusterHealthStatus.fromValue(clusterHealth.getStatus().value()).name(); } catch(Exception e) {}
   final String clusterState = clusterStateTmp;
}
@pageHeader() {
    <span class="@clusterState">Index State</span> <small>@clusterHealth.getClusterName()</small>
    <div class="pull-right">
        <a class="btn btn-default" href="@prefix/system/index"><i class="fa fa-refresh"></i></a>
    </div>
    <div class="clearfix"></div>
}

<h2>General</h2>
<table class="table table-striped">
    <tr>
        <td style="overflow: hidden">
            Cluster Status
        </td>
        <td class="@clusterState align-right" style="overflow: hidden">
            @clusterHealth.getStatus()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Cluster Docs
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getIndicesStats().getDocs().getCount()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Indexsize
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getIndicesStats().getStore().size().getMb() MB
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            # Nodes
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterHealth.getNumberOfNodes()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Active Shards
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterHealth.getActiveShards()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Active Primary Shards
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterHealth.getActivePrimaryShards()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Initializing Shards
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterHealth.getInitializingShards()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Relocating Shards
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterHealth.getRelocatingShards()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Unassigned Shards
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterHealth.getUnassignedShards()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Delayed Unassigned Shards
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterHealth.getDelayedUnassignedShards()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Pending Tasks
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterHealth.getNumberOfPendingTasks()
        </td>
    </tr>
</table>

<h2>Memory</h2>
<table class="table table-striped">
    <tr>
        <td style="overflow: hidden">
            Total memory
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getNodesStats().getFs().getTotal().getMb() MB
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Available memory
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getNodesStats().getFs().getAvailable().getMb() MB
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Free memory
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getNodesStats().getFs().getFree().getMb() MB
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Fielddata
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getIndicesStats().getFieldData().getMemorySize().getMb() MB
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Segments (#@clusterStats.getIndicesStats().getSegments().getCount())
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getIndicesStats().getSegments().getMemory().getMb() MB per segment
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Completion
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getIndicesStats().getCompletion().getSize().getMb() MB
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Query Cache
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getIndicesStats().getQueryCache().getMemorySize().getMb() MB
        </td>
    </tr>
</table>

<h2>Cache</h2>
<table class="table table-striped">
    <tr>
        <td style="overflow: hidden">
            Query Cache Size
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getIndicesStats().getQueryCache().getCacheSize()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Query Cache Lookups
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getIndicesStats().getQueryCache().getTotalCount()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Query Cache Hits
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getIndicesStats().getQueryCache().getHitCount()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Query Cache Misses
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getIndicesStats().getQueryCache().getMissCount()
        </td>
    </tr>
</table>

<h2>Nodes</h2>
<table class="table table-striped">
    <tr>
        @{ final String versions = sirius.kernel.commons.Strings.join(clusterStats.getNodesStats().getVersions(), ","); }
        <td style="overflow: hidden">
            Versions
        </td>
        <td class="align-right" style="overflow: hidden">
            @versions
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Available Processors
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getNodesStats().getOs().getAvailableProcessors()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            CPU Percent
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getNodesStats().getProcess().getCpuPercent()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Average open file descriptors
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getNodesStats().getProcess().getAvgOpenFileDescriptors()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            JVM-threads
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getNodesStats().getJvm().getThreads()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Max-Uptime
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getNodesStats().getJvm().getMaxUpTime().toString()
        </td>
    </tr>
    <tr>
        <td style="overflow: hidden">
            Used Heap
        </td>
        <td class="align-right" style="overflow: hidden">
            @clusterStats.getNodesStats().getJvm().getHeapUsed().getMb() MB
        </td>
    </tr>
</table>

<h2>Indices</h2>
@for(org.elasticsearch.cluster.health.ClusterIndexHealth indexHealth : clusterHealth.getIndices().values()){
    @{ String status = "";
       try { status = org.elasticsearch.cluster.health.ClusterHealthStatus.fromValue(indexHealth.getStatus().value()).name(); } catch(Exception e) {}
    }
    <table class="table table-striped">
        <tr>
            <td style="overflow: hidden">
                Indexname
            </td>
            <td class="@status align-right" style="overflow: hidden">
               @indexHealth.getIndex()
            </td>
        </tr>
        <tr>
            <td style="overflow: hidden">
                Status
            </td>
            <td class="@status align-right" style="overflow: hidden">
                @status
            </td>
        </tr>
        <tr>
            <td style="overflow: hidden">
                # Shards
            </td>
            <td class="@status align-right" style="overflow: hidden">
                @indexHealth.getNumberOfShards()
            </td>
        </tr>
        <tr>
            <td style="overflow: hidden">
                # Replicas
            </td>
            <td class="@status align-right" style="overflow: hidden">
                @indexHealth.getNumberOfReplicas()
            </td>
        </tr>
    </table>
}